<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../stylesheets/primary.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <div class="container text-center">

        <p class="text-oben">Fragen</p>
            <p align="justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

            <p class="text-oben">Antwort</p>
            <i class="medium material-icons drop-icon">arrow_drop_down</i>
            <div class='drop-text'>
                <p align="justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                    kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
    </div>

    <div class="container fixed-bottom text-center bottomNav">
        <div class="row linkRow">
            <div class="col-3 navLink activeLink" id="navHome">Home</div>
            <div class="col-3 navLink" id="navGruppe">
                <i class="material-icons navIcons">list</i>
            </div>
            <div class="col-3 navLink" id="navFrage">
                <i class="material-icons navIcons">control_point</i>
            </div>
            <div class="col-3 navLink" id="navInfo">
                <i class="material-icons navIcons">info</i>
            </div>
        </div>
    </div>

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../materialize-css/dist/js/materialize.min.js"></script>
    <script src="./../javascripts/primary.js"></script>
    <script src="../javascripts/homescript.js"></script>
</body>

</html>