<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../stylesheets/primary.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
    <link rel="stylesheet" href="../onepage/onepage-scroll.css">
</head>

<body>

    <div class="main">
        <section>
            <a href="/login"><i class="small material-icons right" style="padding: 1%; color: white">power_settings_new</i></a>
            <div class="container text-center">
                <p class="text-oben">Fragen</p>
                <p id="rndFrage">-</p>

                <p  class="text-oben">Antwort</p>
                <i class="medium material-icons drop-icon">arrow_drop_down</i>
                <div class='drop-text'>
                    <p id="rndAntwort">-</p>
                </div>
                <br>
                <br>
                <br>
                <button id="btnRandom" class="waves-effect waves-light btn-large btn_white">ZUFÄLLIG</button>
            </div>
        </section>
        <section>
            <div class="container text-center">
                <button class="new-group waves-effect waves-green btn-large btn_white" data-popup-open="popup-1" href="#">Neue Gruppe</button>
                <br>
                <br>
                <hr>
                <br>
                <button class="waves-effect waves-light btn-large btn_dark" data-popup-open="popup-2">Beitreten</button>
                <br>
                <br>
                <hr>
                <!--Eigenes Modal erstellen-->

                <div class="anyClass container-fluid text-center">

                </div>

            </div>
            <div class="row">
                <div class="popup" data-popup="popup-1">
                    <div class="popup-inner">
                        <div class="input-field col s12">
                            <input id="new_groupName" type="text" class="validate">
                            <label for="gruppen_name">Neue Gruppen Name eingeben</label>
                        </div>
                        <button class="btn waves-effect waves-light addGroup" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <a class="popup-close" data-popup-close="popup-1">x</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="popup" data-popup="popup-2">
                    <div class="popup-inner">
                        <div class="input-field col s12">
                            <input id="join_groupName" type="text" class="validate">
                            <label for="join_gruppen_name">Gruppen ID eingeben</label>
                        </div>
                        <button class="btn waves-effect waves-light joinGroup" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <a class="popup-close" data-popup-close="popup-2">x</a>
                    </div>
                </div>
            </div>


        </section>
        <section>
            <div class="container center Fragen">
                <i class="medium material-icons" data-popup-open="popup-3">add_circle</i>
                <br>
            </div>
            <div class="row">
                    <div class="popup" data-popup="popup-3">
                        <div class="popup-inner">
                            <div class="input-field col s12">
                                <input id="newFrage" type="text" class="validate">
                                <label for="fragen_name">Neue Frage eingeben</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="newAntwort" type="text" class="validate">
                                <label for="antworten_name">Antwort eingeben</label>
                            </div>
                            <button class="btn waves-effect waves-light addInhalt" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                            <a class="popup-close" data-popup-close="popup-3">x</a>
                        </div>
                    </div>
                </div>
        </section>
        <section>
            <div class="container text-center">
                <p class="text-oben">USER ID</p>
                <p class="b_id" id="<%=benutzer.b_id%>">
                    <%= benutzer.b_id%>
                </p>
                <p class="text-oben gruppe">GROUP NAME</p>
                <p id="groupName">-</p>
                <p class="text-oben">GROUP ID</p>
                <p id="groupID">-</p>
                <p class="text-oben">MEMBER</p>
                <i class="small material-icons">accessibility</i>
                <p id="groupCount">-</p>

            </div>
            <div class="text-center home-click">
                <a href="/impressum">
                    <p class="imp">Impressum</p>
                </a>
            </div>
        </section>
    </div>




    <!--Navbar-->
    <div class="container fixed-bottom text-center bottomNav">
        <div class="row linkRow">
            <div class="col-3 navLink activeLink" id="navHome">Home</div>
            <div class="col-3 navLink" id="navGruppe">
                <i class="material-icons navIcons">list</i>
            </div>
            <div class="col-3 navLink" id="navFrage">
                <i class="material-icons navIcons">control_point</i>
            </div>
            <div class="col-3 navLink" id="navInfo">
                <i class="material-icons navIcons">info</i>
            </div>
        </div>
    </div>

    <!--MODAL FÜR NEUE GRUPPE-->



    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../materialize-css/dist/js/materialize.min.js"></script>
    <script src="../onepage/jquery.onepage-scroll.min.js"></script>
    <script src="../onepage/jquery.onepage-scroll.js"></script>
    <script src="../javascripts/primary.js"></script>
    <script src="../javascripts/homescript.js"></script>
</body>

</html>