<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../stylesheets/primary.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../onepage/onepage-scroll.css">
</head>

<body>

    <div class="main">
        <section>
            <div class="container text-center">
                <p class="text-oben">Fragen</p>
                <p>Was ist die Hauptstadt von Österreich?</p>

                <p class="text-oben">Antwort</p>
                <i class="medium material-icons drop-icon">arrow_drop_down</i>
                <div class='drop-text'>
                    <p>Wien</p>
                </div>
                <br>
                <br>
                <br>
                <button class="waves-effect waves-light btn-large btn_white">ZUFÄLLIG</button>
            </div>
        </section>
        <section>
            <div class="container text-center">
                <button class="waves-effect waves-light btn-large btn_white">Neue Gruppe</button>
                <br>
                <br>
                <hr>
                <br>
                <button class="waves-effect waves-light btn-large btn_dark">Beitreten</button>
                <br>
                <br>
                <hr>
                <div class="container-fluid text-center">
                    <div class="row group_row">
                        <div class="col-10" align="left">
                            <h4 class="group_name">Group 1</h4>
                        </div>
                        <div class="col-2 group_col">
                            <div class="group_status">

                            </div>
                        </div>
                    </div>
                    <div class="row group_row">
                        <div class="col-10" align="left">
                            <h4 class="group_name">Group 2</h4>
                        </div>
                        <div class="col-2 group_col">
                            <div class="group_status">

                            </div>
                        </div>
                    </div>
                    <div class="row group_row">
                        <div class="col-10" align="left">
                            <h4 class="group_name">Group 3</h4>
                        </div>
                        <div class="col-2 group_col">
                            <div class="group_status">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>

        </section>
        <section>
            <div class="container text-center">
                <p class="text-oben">Name</p>
                <p>Lernen Vokabel du weist</p>
                <p class="text-oben">ID</p>
                <p>#23673567</p>
                <p class="text-oben">Member</p>

                <i class="small material-icons">accessibility</i>
                <p>10</p>

            </div>
            <div class="text-center">
                <a href="/impressum">
                    <p class="imp">Impressum</p>
                </a>
            </div>
        </section>
    </div>


    <!--Navbar-->
    <div class="container fixed-bottom text-center bottomNav">
        <div class="row linkRow">
            <div class="col-3 navLink activeLink" id="navHome">Home</div>
            <div class="col-3 navLink" id="navGruppe">
                <i class="material-icons navIcons">list</i>
            </div>
            <div class="col-3 navLink" id="navFrage">
                <i class="material-icons navIcons">control_point</i>
            </div>
            <div class="col-3 navLink" id="navInfo">
                <i class="material-icons navIcons">info</i>
            </div>
        </div>
    </div>


    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../materialize-css/dist/js/materialize.min.js"></script>
    <script src="../onepage/jquery.onepage-scroll.min.js"></script>
    <script src="./../javascripts/primary.js"></script>
    <script src="../javascripts/homescript.js"></script>
</body>

</html>