<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn X</title>
    <link type="image/png" rel="icon" href="../images/Tab_Icon.png">
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/primary.css">
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
    
</head>

<body>
    <div class="container text-center impressum">
        <p class="text-oben">Impressum</p><br>
        <p class="text-unten">Inhaber</p>
        <p>Höhere Technische Anstalt 16</p>
        <p class="text-unten">Adresse</p>
        <p>Thaliastraße 125, 1160 Ẃien</p>
        <p class="text-unten">Telefon</p>
        <p>01 49111113</p>
        <i class="page-back material-icons arrBack">arrow_back</i>
    </div>

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../javascripts/primary.js"></script>
</body>

</html>