<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn X</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../stylesheets/primary.css">
    <link rel="stylesheet" href="../stylesheets/login.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
    </style>
</head>

<body>

    <div class="container text-center lgn_con">
        <img src="../images/Logo_white.svg" width="280px;">
    </div>
    <div class="container login_daten">
        <form>
            <div class="input-field col s6">
                <input class='validate' id="name" type="text" class="validate">
                <label for="name">NAME</label>
            </div>
            <div class="input-field col s6">
                <input class='validate' id="password" type="password" class="validate">
                <label for="password">PASSWORT</label>
            </div>
        </form>
    </div>
    <div class="container login_buttons">
        <div class="row">
            <a href="/home" class="waves-effect waves-light btn-large btn_white">LOGIN</a>
        </div>
      <div class="row">
            <a href="/registrieren" class="waves-effect waves-light btn-large btn_dark">REGISTRIEREN</a>
        </div>

    </div>

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>