.lgn_con{
    padding-top:80px;
}

#h1_title{
    font-weight: 300;
    font-size:50px;
}

#x_title{
    font-size:80px;
}

.login_daten{
 
    padding-top: 50px;
}

.input-field label {
    color: white;
    font-size: 20px;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: white !important;
}

.input-field input[type=date],
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password] {
  border-bottom: 1px solid white !important;
  box-shadow: none !important;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid white !important;
  box-shadow: none;
}

.login_buttons{
    padding-top:30px;
}

a {
    text-decoration: none;
}

.arrBack{
    color:white;
}