html{
	margin:0;
	height: 100%;
}


body{
	margin:0;
	width:100%;
	height: 100%;
	background: linear-gradient(to bottom,  rgb(57, 187, 235), rgb(68, 118, 187));
	font-family: 'Quicksand', sans-serif;
    color: white;
    
}

.vertical-center {
	display: flex;  /* make the row a flex container */
	align-items: center; /* vertically center each flex item in the container */
}
.btn_white{
    border-radius:50px;
    width: 300px;
    height: 50px;
    font-weight: 300px;
    font-size: 25px;
    background-color: white;
    color: #2BABE2 !important;
    line-height: 50px;
    margin:0 auto;
}
.btn_white:hover {
    background-color: white;
}
.btn_white:active{
    background-color: rgb(196, 196, 196);
}
.btn_dark{
    border-radius:50px;
    width: 300px;
    height: 50px;
    font-weight: 300px;
    font-size: 25px;
    background-color: transparent;
	color: white !important;
    border:2px solid white;
    line-height: 45px;
    margin:0 auto;
}
.btn_dark:hover {
    background-color: transparent;
}
.btn_dark:active{
    background-color: rgb(196, 196, 196);
}

a {
    text-decoration: none !important;
}

.text-oben{
    font-family: 'Quicksand', sans-serif;
    font-size:45px;
    font-weight: 300;
}

.drop-text{
    display : none;
}
.bottomNav{
    height:50px;
    border-radius: 25px;
    border: 2px solid white;
    margin-bottom: 10px;
}

.linkRow{
    height: 100%;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

@media (max-width: 992px) { 
    .linkRow{
        margin-left: -1.2rem !important;
        margin-right: -1.2rem !important;
    }
 }

.navLink{
    line-height: 45px;
    font-size: 18px;
}

.activeLink{
    background-color: white;
    color: #2BABE2;
    border-radius:25px;
}

hr {
    background-color: white;
}
.navIcons{
    line-height: unset !important;
}

.imp{
    color : white;
}

.text-unten{
    font-family: 'Quicksand', sans-serif;
    font-size:35px;
    font-weight: 300;
}
.group_row{
    border : solid white 2px;
    color:white;
    height: 70px;
}

.border_row{
    border :solid #9cff20 2px;
    color: white;
    height: 70px;
}

.group_name{
    line-height: 35px;
    padding-left: 10px;
}

.group_status{
    width: 35px;
    height: 35px;
    background-color: #56cd56;
    margin-top: 17px;

}

.group_col{
padding-left: 0px;
}

.anyClass {
    height:350px;
    overflow-y: scroll;
}

.scrollfrage {
    height:550px;
    overflow-y: scroll;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    background:rgba(0,0,0,0.75);
    z-index: 9999;
    }
    /* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    }
    /* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
    }
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
    }


#new_groupName{
    color:black;
}

#join_groupName{
    color:black;
}

#newFrage{
    color:black;
}

#newAntwort{
    color:black;
}

#updateFrage{
    color:black;
}

#updateAntwort{
    color:black;
}

@media only screen and (max-width: 600px) {
    .navLink {
        font-size: 15px;
    }
}

@media only screen and (min-width: 800px)  {
    #toast-container {
        top: auto !important;
        right: auto !important;
        bottom: 10%;
        left:42%;
      }
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #ffffff;
}
